<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.layui.sysadmin.dao.CommonUserMapper" >
  <resultMap id="BaseResultMap" type="com.cn.layui.sysadmin.entity.CommonUser" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="username" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="PASSWORD" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="face" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="companyFace" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="tel" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="truename" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="companyId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="position" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="role" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="thirdAuth" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="loginDevice" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="companyCity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="city" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="gender" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="weixin" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="companyWeixin" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="deviceId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="registerTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="loginTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="state" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="isDelete" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="runDay" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="fromType" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="loginDeviceBrand" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="qq" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, PASSWORD, face, companyFace, email, tel, truename, companyId, position,
    role, thirdAuth, loginDevice, companyCity, city, gender, weixin, companyWeixin, deviceId,
    registerTime, loginTime, state, isDelete, runDay, fromType, loginDeviceBrand, qq
  </sql>

  <select id="getUserListPage" resultType="com.cn.layui.sysadmin.vo.CommonUserListVo" >
    SELECT cus.id,cc.id AS companyId,cus.username AS userName,cus.truename AS trueName,cus.gender,cus.loginTime,cus.registerTime,cc.fullName AS companyName,cus.state,cc.authVip AS vip
    FROM
    common_user cus
    LEFT JOIN common_company cc on cc.id = cus.companyId
    WHERE cus.isDelete = 0
    <if test="keys != null and keys != ''">
      AND (cus.username LIKE CONCAT('%', #{keys}, '%') OR cus.truename LIKE CONCAT('%', #{keys}, '%') OR cc.fullName LIKE CONCAT('%', #{keys}, '%'))
    </if>
    <if test="sex!=null and sex > -1">
      AND cus.gender = #{sex}
    </if>
    <if test="state!=null and state > -1">
      AND cus.state = #{state}
    </if>
    <if test="isCompany!=null and isCompany == 0">
      AND cus.companyId = 0
    </if>
    <if test="isCompany!=null and isCompany == 1">
      AND cus.companyId > 0
    </if>
    ORDER BY loginTime DESC
    limit #{start},15
  </select>


  <select id="selectCount" resultType="java.util.Map">
    SELECT COUNT(cus.id) as dataCount
    FROM
    common_user cus
    LEFT JOIN common_company cc on cc.id = cus.companyId
    WHERE cus.isDelete = 0
    <if test="keys != null and keys != ''">
      AND (cus.username LIKE CONCAT('%', #{keys}, '%') OR cus.truename LIKE CONCAT('%', #{keys}, '%') OR cc.fullName LIKE CONCAT('%', #{keys}, '%'))
    </if>
    <if test="sex!=null and sex > -1">
      AND cus.gender = #{sex}
    </if>
    <if test="state!=null and state > -1">
      AND cus.state = #{state}
    </if>
    <if test="isCompany!=null and isCompany == 0">
      AND cus.companyId = 0
    </if>
    <if test="isCompany!=null and isCompany == 1">
      AND cus.companyId > 0
    </if>
  </select>

  <select id="getUserInfo" resultType="com.cn.layui.sysadmin.vo.UserInfoVo" parameterType="java.lang.Integer" >
    SELECT id,state,username AS userName,truename AS trueName,gender,weixin,loginTime,registerTime FROM common_user WHERE id = #{userId}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from common_user
    where id = #{id,jdbcType=INTEGER}
  </select>

</mapper>