<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.layui.sysadmin.dao.RecruitJobFilterMapper" >
  <resultMap id="BaseResultMap" type="com.cn.layui.sysadmin.entity.RecruitJobFilter" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="workClassId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="businessId" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="workCity" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="workPayStart" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="workPayEnd" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="isDelete" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="education" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="workYear" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="isOpen" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="recommendNum" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <select id="getJobFilterList" resultType="com.cn.layui.sysadmin.vo.RecruitJobFilterListVo" parameterType="java.lang.Integer" >
    SELECT rjf.id,rjf.workClassId AS classId,rjc.title AS className,rjf.businessId,cb.`name` AS businessName,
    rjf.workCity AS cityId,cc.`name` AS cityName,rjf.workPayStart,rjf.workPayEnd
    FROM recruit_job_filter rjf
    LEFT JOIN common_city cc on cc.id = rjf.workCity
    LEFT JOIN common_business cb on cb.id in (rjf.businessId)
    LEFT JOIN recruit_job_class rjc on rjc.id = rjf.workClassId
    WHERE rjf.isDelete = 0 AND userId = #{userId} ORDER BY rjf.createTime DESC
  </select>

  <select id="getListByCondition" resultType="com.cn.layui.sysadmin.vo.JobWantedInfoVo">
    SELECT rjf.userId as id,cu.truename as userName,rjc.title as jobName,cb.`name` AS jobType,cc.`name` AS cityName,
    rjf.workYear as workYear,cu.tel as phone,cu.loginTime as lastLoginTime,rjf.recommendNum as pushCount,rjf.id as filterId
    FROM recruit_job_filter rjf
    LEFT JOIN common_user  cu on cu.id=rjf.userId
    LEFT  JOIN recruit_job_class rjc on rjc.id=rjf.workClassId
    LEFT JOIN common_business cb on cb.id in (rjf.businessId)
    LEFT JOIN common_city cc on cc.id = rjf.workCity
    WHERE rjf.isOpen=1
    <if test="keys != null and keys != ''">
      AND (cu.username LIKE CONCAT('%', #{keys}, '%') OR cu.truename LIKE CONCAT('%', #{keys}, '%') OR cu.tel LIKE CONCAT('%', #{keys}, '%'))
    </if>
    <if test="classId!=null">
      AND rjc.id=#{classId}
    </if>
    <if test="workCity!=null">
      AND cc.id=#{workCity}
    </if>
    <if test="ispush!=null and ispush==0">
      AND rjf.recommendNum='0'
    </if>
    <if test="ispush!=null and ispush==1">
      AND rjf.recommendNum!='0'
    </if>
    <if test="startWorkYear!=null">
      AND rjf.workYear>=#{startWorkYear}
    </if>
    <if test="endWorkYear!=null">
      AND rjf.workYear &lt;= #{endWorkYear}
    </if>
    Order by cu.loginTime
    LIMIT #{curr},20
  </select>

  <select id="getChooseCount" resultType="java.lang.Integer">
    SELECT COUNT(rjf.id)
    FROM recruit_job_filter rjf
    LEFT JOIN common_user  cu on cu.id=rjf.userId
    LEFT  JOIN recruit_job_class rjc on rjc.id=rjf.workClassId
    LEFT JOIN common_business cb on cb.id in (rjf.businessId)
    LEFT JOIN common_city cc on cc.id = rjf.workCity
    WHERE rjf.isOpen=1
    <if test="keys != null and keys != ''">
      AND (cu.username LIKE CONCAT('%', #{keys}, '%') OR cu.truename LIKE CONCAT('%', #{keys}, '%') OR cu.tel LIKE CONCAT('%', #{keys}, '%'))
    </if>
    <if test="classId!=null">
      AND rjc.id=#{classId}
    </if>
    <if test="workCity!=null">
      AND cc.id=#{workCity}
    </if>
    <if test="ispush!=null and ispush==0">
      AND rjf.recommendNum='0'
    </if>
    <if test="ispush!=null and ispush==1">
      AND rjf.recommendNum!='0'
    </if>
    <if test="startWorkYear!=null">
      AND rjf.workYear>=#{startWorkYear}
    </if>
    <if test="endWorkYear!=null">
      AND rjf.workYear &lt;= #{endWorkYear}
    </if>
  </select>

  <update id="updateRecommendNum" parameterType="java.lang.Integer">
      UPDATE recruit_job_filter
      <set>
        recommendNum=recommendNum+1
      </set>
      WHERE id=#{id}
  </update>


</mapper>