<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.layui.sysadmin.dao.SystemMenuMapper" >
  <resultMap id="BaseResultMap" type="com.cn.layui.sysadmin.entity.SystemMenu" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="parentId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="url" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="perms" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="icon" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="orderNum" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modifiedTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>


  <select id="getAllMenuList" resultType="com.cn.layui.sysadmin.entity.SystemMenu" >
    SELECT * FROM system_menu
  </select>


  <select id="listUserPerms" resultType="java.lang.String" parameterType="java.lang.Integer">
    select distinct m.perms
    from system_menu m
    left join system_role_menu rm on m.id = rm.menuId
    left join system_user sus on rm.roleId = sus.roleId
    where sus.id = #{userId}
  </select>


</mapper>