<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.layui.sysadmin.dao.SystemUserMapper" >
  <resultMap id="BaseResultMap" type="com.cn.layui.sysadmin.entity.SystemUser" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="account" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="userName" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="passWord" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="deptId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="roleId" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="mobile" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="userIdCreate" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modifiedTime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="delFlag" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, account, userName, passWord, deptId, roleId, mobile, status, userIdCreate, createTime, 
    modifiedTime, delFlag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from system_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from system_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cn.layui.sysadmin.entity.SystemUser" >
    insert into system_user (id, account, userName, 
      passWord, deptId, roleId, 
      mobile, status, userIdCreate, 
      createTime, modifiedTime, delFlag
      )
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{passWord,jdbcType=VARCHAR}, #{deptId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{mobile,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{userIdCreate,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP}, #{delFlag,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cn.layui.sysadmin.entity.SystemUser" >
    insert into system_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="account != null" >
        account,
      </if>
      <if test="userName != null" >
        userName,
      </if>
      <if test="passWord != null" >
        passWord,
      </if>
      <if test="deptId != null" >
        deptId,
      </if>
      <if test="roleId != null" >
        roleId,
      </if>
      <if test="mobile != null" >
        mobile,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="userIdCreate != null" >
        userIdCreate,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="modifiedTime != null" >
        modifiedTime,
      </if>
      <if test="delFlag != null" >
        delFlag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null" >
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="userIdCreate != null" >
        #{userIdCreate,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        #{delFlag,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cn.layui.sysadmin.entity.SystemUser" >
    update system_user
    <set >
      <if test="account != null" >
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="passWord != null" >
        passWord = #{passWord,jdbcType=VARCHAR},
      </if>
      <if test="deptId != null" >
        deptId = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        roleId = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="mobile != null" >
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="userIdCreate != null" >
        userIdCreate = #{userIdCreate,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null" >
        modifiedTime = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null" >
        delFlag = #{delFlag,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cn.layui.sysadmin.entity.SystemUser" >
    update system_user
    set account = #{account,jdbcType=VARCHAR},
      userName = #{userName,jdbcType=VARCHAR},
      passWord = #{passWord,jdbcType=VARCHAR},
      deptId = #{deptId,jdbcType=INTEGER},
      roleId = #{roleId,jdbcType=INTEGER},
      mobile = #{mobile,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      userIdCreate = #{userIdCreate,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      modifiedTime = #{modifiedTime,jdbcType=TIMESTAMP},
      delFlag = #{delFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByPrimaryAccount" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from system_user
    where account = #{account,jdbcType=VARCHAR} AND delFlag = 0
  </select>

  <select id="getDeptUserList" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    SELECT <include refid="Base_Column_List" /> FROM system_user WHERE deptId = #{id}
  </select>

  <update id="updateByListDeptId" parameterType="java.util.List">
    update system_user set
    deptId=0
    where deptId in
    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <select id="getRoleUserList" resultType="java.lang.String" parameterType="java.lang.Integer" >
    SELECT userName FROM system_user WHERE delFlag = 0 AND roleId = #{roleId}
  </select>

  <select id="getSysUserListPage" resultType="com.cn.layui.sysadmin.vo.SysUserListVo" parameterType="java.lang.String" >
    SELECT sus.id,sus.userName,sus.account,sr.roleName,sd.`name` AS deptName,sus.mobile,sus.`status`
    FROM system_user sus
    LEFT JOIN system_role sr on sr.id = sus.roleId
    LEFT JOIN system_dept sd on sd.id = sus.deptId
    WHERE sus.delFlag = 0
    <if test="key != null and key != ''">
      AND (sus.userName LIKE CONCAT('%', #{key}, '%') OR sus.account LIKE CONCAT('%', #{key}, '%'))
    </if>
    ORDER BY sus.modifiedTime DESC
  </select>

  <update id="updateByRoleId" parameterType="java.lang.Integer">
    update system_user set
    roleId=0
    where roleId = #{roleId}
  </update>
</mapper>