<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户详情</title>
    <style type="text/css">
        div{
            height: 30px;
            line-height: 30px;

        }

        body>div{
            margin-left: 12px;
        }
    </style>
    <script type="text/javascript" src="/js/jquery/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <script type="text/javascript" src="/layui/layui.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<input id="id" hidden="hidden" th:value="${uid}">
<h2><span>用户详情</span></h2><br>

<div><b>用户状态：</b>&nbsp;&nbsp;<span id="status"></span></div><hr>
<div><b>用户ID:</b>&nbsp;&nbsp;<span id="userId"></span></div><hr>
<div><b>用户手机号:</b>&nbsp;&nbsp;<span id="phone"></span></div><hr>
<div><b>用户姓名:</b>&nbsp;&nbsp;<span id="name"></span></div><hr>
<div><b>用户性别:</b>&nbsp;&nbsp;<span id="sex"></span></div><hr>
<div><b>微信:</b>&nbsp;&nbsp;<span id="wx"></span></div><hr>
<div><b>上次登录时间:</b>&nbsp;&nbsp;<span id="loginTime"></span></div><hr>
<div><b>注册时间:</b>&nbsp;&nbsp;<span id="reTime"></span></div><br><br>


<form action="" class="layui-form layui-form-pane">

    <div class="layui-form-item">
        <label class="layui-form-label">参加工作年限</label>
        <div class="layui-input-inline">
            <input type="text" name="workYear" id="workYear" disabled="false" autocomplete="off" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">H5简历</label>
        <div class="layui-input-block">
            <input type="text" name="h5resume" id="h5resume"  disabled="false" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">视频秀</label>
        <div class="layui-input-block">
            <input type="text" name="video"  id="video" disabled="false" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">我的优势</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" disabled="false" id="advantage" class="layui-textarea"></textarea>
        </div>
    </div>
</form>
<br><br><br><br><br><br>
<!--个人简历-->
<h2><span>个人简历</span></h2><br>
<h4>求职意向</h4>
<table  class="table">
    <thead>
    <tr>
        <th>期待职位</th>
        <th>意向行业</th>
        <th>工作城市</th>
        <th>薪资要求</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="info : ${info.jobFilterListVos}" >
        <td th:text="${info.className}"></td>
        <td th:text="${info.businessName}"></td>
        <td th:text="${info.cityName}"></td>
        <td th:text="${info.wantMoney}"></td>
    </tr>
    </tbody>
</table>

<!--工作经历-->
<br>
<h4><span id="head">工作经历</span></h4>
<table class="table">
    <thead>
    <tr>
        <th>职位类型</th>
        <th>职位名称</th>
        <th>公司名称</th>
        <th>时间段</th>
        <th>所属部门</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="info : ${info.resumeWorkListVos}" >
        <td th:text="${info.className}"></td>
        <td th:text="${info.position}"></td>
        <td th:text="${info.company}"></td>
        <td th:text="${info.workTime}"></td>
        <td th:text="${info.workDep}"></td>
    </tr>
</table>

<!--项目经验-->
<br>
<h4>项目经验</h4>
<table class="table">
    <thead>
    <tr>
        <th>项目名称</th>
        <th>项目URL</th>
        <th>项目角色</th>
        <th>项目描述</th>
        <th>项目业绩</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="info : ${info.resumeProjectListVos}" >
        <td th:text="${info.project}"></td>
        <td th:text="${info.projectURL}"></td>
        <td th:text="${info.workRoole}"></td>
        <td th:text="${info.cotent}"></td>
        <td th:text="${info.projectResult}"></td>
    </tr>
    </tbody>
    </table>

    <!--教育经历-->
    <br>
    <h4>教育经历</h4>
    <table class="table">
        <thead>
        <tr>
            <th>学校</th>
            <th>专业</th>
            <th>学历</th>
            <th>时间段</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="info : ${info.resumeEducationListVos}" >
            <td th:text="${info.college}"></td>
            <td th:text="${info.major}"></td>
            <td th:text="${info.educationName}"></td>
            <td th:text="${info.educationTime}"></td>
        </tr>
    </table>




    <script>
        $("h2>span").css("color","midnightblue");
        $("h4").css({"background":"#5FB878"});


        $.ajax({
            type : "POST",  //提交方式
            url : "/UserManagement/getUserInfo",//路径
            data : {
                userId : $("#id").val()
            },//数据，这里使用的是Json格式进行传输
            success : function(result) {//返回数据根据结果进行相应的处理
                var userInfo=result.data
                if(userInfo.state==0){
                    $("#status").html("正常");
                }else{
                    $("#status").html("关闭");

                }
                if(userInfo.gender==1){
                    $("#sex").html("男");
                }else if(userInfo.gender==0){
                    $("#sex").html("女");

                }
                $("#userId").html(userInfo.id);
                $("#phone").html(userInfo.userName);
                $("#name").html(userInfo.trueName);
                $("#wx").html(userInfo.weixin);
                $("#loginTime").html(userInfo.loginTime);
                $("#reTime").html(userInfo.registerTime);

            }
        });


        $.ajax({
            type : "POST",
            url : "/UserManagement/getPersonalUserInfo",
            data : {
                userId : $("#id").val()
            },
            success : function(result) {
                var info=result.data;
                $("#workYear").val(info.resumeWorkListVos[0].beginTime);
                $("#h5resume").val(info.senceUrl);
                $("#video").val(info.resumeVideoUrl);
                $("#advantage").val(info.intro);
            }
        })
    </script>
</body>
</html>